{{ define "main" }}
{{ partial "breadcrumb.html" . }}

<section class="panel">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
</section>

{{ if not .Params.disableIndexList }}
{{ $paginator := .Paginate (.Pages.ByPublishDate.Reverse) }}
<section class="panel">
    <h2>Posts</h2>
    {{ template "_internal/pagination.html" . }}
    <div class="posts">
        {{ range $paginator.Pages }}
        <article>
            <a class="featured" href="{{ .RelPermalink }}">
                {{ $img := (.Resources.ByType "image").GetMatch "featured*" }}
                {{ with $img }}
                <img itemprop="thumnailUrl" class="cover-img" src="{{ .Permalink }}"
                    alt="Cover image for: '{{ $.Title }}'">
                {{ else }}
                <div></div>
                {{ end }}
            </a>
            <ul class="tag-list compact">
                {{ range (.GetTerms "tags") }}
                <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                {{ end }}
            </ul>
            <h3 class="header"><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title | truncate 25 }}</a></h3>
            <p>{{ .Description }}</p>
            {{ if .PublishDate }}
            <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2, 2006"
                }}</time>
            {{ else }}
            <time>no date</time>
            {{ end }}
        </article>
        {{ end }}
    </div>
    {{ template "_internal/pagination.html" . }}
</section>
{{ end }}

{{ end }}
