{{ define "main" }}
{{ partial "breadcrumb.html" . }}

<article class="panel post" itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="name headline">{{ .Title }}</h1>
        <div class="meta">
            <time itemprop="datePublished" datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2, 2006"
                }}</time>
            <span>{{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }} read</span>
            <ul class="tag-list">
                {{ range (.GetTerms "tags") }}
                <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                {{ end }}
            </ul>
        </div>
        {{ $img := (.Resources.ByType "image").GetMatch "featured*" }}
        {{ with $img }}
        <img itemprop="thumnailUrl" class="cover-img" src="{{ .Permalink }}" alt="Cover image for: '{{ $.Title }}'">
        {{ end }}
        {{.TableOfContents}}
    </header>
    <div itemprop="articleBody">
        {{ .Content }}
    </div>
</article>

<div class="panel">
    {{ $related := .Site.RegularPages.Related . | first 6 }}
    {{ with $related }}
    <h2>See Also</h2>
    <div class="posts">
        {{ range . }}
        <article>
            <ul class="tag-list compact">
                {{ range (.GetTerms "tags") }}
                <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                {{ end }}
            </ul>
            <h3 class="header"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <p>{{ .Description }}...</p>
            <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "January 2, 2006"
                }}</time>
        </article>
        {{ end }}
    </div>
    {{ end }}
</div>

{{ end }}
